<div class="spinner">
  <mat-spinner #spinner *ngIf = "showSpinner"></mat-spinner>
</div>
<table mat-table [dataSource]="weather" class="mat-elevation-z8" *ngIf ="empty == false">

  <ng-container matColumnDef="Time">
    <th mat-header-cell *matHeaderCellDef> Time </th>
    <td mat-cell *matCellDef="let element"> {{element.time}}
    	
 </td> 
  </ng-container>

  <ng-container matColumnDef="Description">
   <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> 
    	<div id="firstDiv">
    		<img src={{element.img}} />
    	</div>
    	<div id="secondDiv">
    		{{element.description}} 
    	</div>
    	</td> 
  </ng-container>


  <ng-container matColumnDef="Temperature">
   <th mat-header-cell *matHeaderCellDef> Tº </th>
    <td mat-cell *matCellDef="let element"> {{element.temperature}} </td> 
  </ng-container>


  <ng-container matColumnDef="Preassure" >
    <th mat-header-cell *matHeaderCellDef class="pressure"> Preassure </th>
    <td mat-cell *matCellDef="let element" class="pressure"> {{element.pressure}} </td>
  </ng-container>

  <ng-container matColumnDef="Humidity">
    <th mat-header-cell *matHeaderCellDef>Humidity </th>
    <td mat-cell *matCellDef="let element"> {{element.humidity}} </td>
  </ng-container>


  <ng-container matColumnDef="Wind">
    <th mat-header-cell *matHeaderCellDef> Wind </th>
    <td mat-cell *matCellDef="let element"> {{element.wind}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
</table>
